django>=4.2
cauldron>=0.1.0
cauldron-content>=0.1.0
cauldron-workspace-flatfile>=0.1.0
cauldron-cms-flatfile>=0.1.0
cauldron-django-state>=0.1.0
cauldron-django-auth>=0.1.0
cauldron-django-admin>=0.1.0
cauldron-content-operations>=0.1.0
cauldron-content-api>=0.1.0
cauldron-admin-content>=0.1.0
